@model CommerceV3.Models.Product

@{
    ViewData["Title"] = "Sil";
}

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingPriceInCityWide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingPriceInCityWide)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingPriceInCountryWide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingPriceInCountryWide)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingPriceInWorldWide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingPriceInWorldWide)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-sm btn-primary" />
        <a asp-action="Index" class="btn btn-sm btn-danger">İptal</a>
    </form>
</div>
