@model IEnumerable<CommerceV3.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}


<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Yeni Ürün</a>
</p>
	<table id="tblRecords" class="table">
		<thead>
			<tr>
				<th class="text-nowrap all">
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Slug)
				</thclass="text-nowrap">
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.OldPrice)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Quantity)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.IsInStock)
				</th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.IsNew)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.ShippingPriceInCityWide)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.ShippingPriceInCountryWide)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.ShippingPriceInWorldWide)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Supplier)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.Brand)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.CreatedBy)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.CreateDate)
				</th>
				<th class="text-nowrap">
					@Html.DisplayNameFor(model => model.UpdatedBy)
				</th>
				<th class="text-nowrap" >
					@Html.DisplayNameFor(model => model.UpdateDate)
				</th>
				<th class="all text-nowrap" data-orderable="false" >Eylemler</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Slug)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OldPrice)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsInStock)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsPublished)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsNew)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ShippingPriceInCityWide)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ShippingPriceInCountryWide)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ShippingPriceInWorldWide)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Supplier.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Brand.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedBy)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreateDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdatedBy)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UpdateDate)
					</td>
					<td class="text-nowrap">
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Düzenle</a>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default">Detaylar</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
