@model IEnumerable<CommerceV3.Models.Brand>

@{
    ViewData["Title"] = "Markalar";
}
		

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Yeni Marka</a>
</p>
<table id="tblRecords" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
			<td class="text-nowrap">
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Düzenle</a>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default">Detaylar</a>
				<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
			</td>
        </tr>
}
    </tbody>
</table>
